<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/mars.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019 - August 2020</h4>
                                    <h4 class="subheading">M.A.R.S. Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Graduate Research Assistant, in M.A.R.S. Lab, my work included dynamic torque calculations for actuators in a Wheelchair Mounted Robotic Arm (WMRA), identify position and position of objects in 2D and 3D, robot hand-eye caliberations and retrieving metadata for detected objects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/gta2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019 - May 2020</h4>
                                    <h4 class="subheading">Graduate Teaching Assistant (GTA)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Starting August 2019, as a GTA and advancing into a part-time position through the year until the end of May 2020, my work at UTA includes teaching and assisting students with experimentation of various actuators, sensors, and electrical components.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/uta.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018 - August 2020</h4>
                                    <h4 class="subheading">The University of Texas at Arlington</h4>
                                </div>
                                <div class="timeline-body">
                                    <p><strong>Masters in Mechanical Engneering</strong></p>
                                    <p class="text-muted">In my masters degree I was more focused on robotics field with courses like Robotics, Control Systems, Neural Networks, and Manufacturing Processes which opened me to plathora of new technologies.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/sppu.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014 - June 2018</h4>
                                    <h4 class="subheading">University of Pune</h4>
                                </div>
                                <div class="timeline-body">
                                    <p><strong>Bachelors in Mechanical Engineering</strong></p>
                                    <p class="text-muted">As a undergraduate student I honed my knowledge and understanding of mechanical field which was reflected with my senior year project and as well as research assistant in product innovation lab.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
