<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">Relevance experience and education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/sppu.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014- June 2018</h4>
                                    <h4 class="subheading">University of Pune</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelors in Mechanical Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/portfolio/uta.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018 - August 2020</h4>
                                    <h4 class="subheading">The University of Texas at Arlington</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Masters in Mechanical Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mars.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019 - August 2020</h4>
                                    <h4 class="subheading">M.A.R.S. Lab</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">xyz</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gta.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019 - May 2020</h4>
                                    <h4 class="subheading">Graduate Teaching Assistant</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">xyz</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
