<!-- Clients Aside -->
  <section>
        <div class="containerSkills">
            <div class="row">
                <h2><center>Skills</center></h2>
                <h4 class="service heading"><center>Below are some of my skills, and I'm always looking to learn more.</center></h4>
            </div>
            <div class="row">
			<div class="col-md-6 col-sm-6 portfolio-item">
			<p  style="color:black;font-size:18px;">MATLAB</p>
				<div class="containerSkills">
				  <div class="skills matlab">90%</div>
				</div>
			</div>
		    <p></p>

				<div class="col-md-6 col-sm-6 portfolio-item">
				<p  style="color:black;font-size:18px;">SolidWorks</p>
				<div class="containerSkills">
				  <div class="skills SolidWorks">80%</div>
				</div>
				</div>
				<div class="col-md-6 col-sm-6 portfolio-item">
				<p style="color:black;font-size:18px;">CATIA</p>
				<div class="containerSkills">
				  <div class="skills CATIA">60%</div>
				</div>
				</div>
				<div class="col-md-6 col-sm-6 portfolio-item">
				<p  style="color:black;font-size:18px;">LabVIEW</p>
				<div class="containerSkills">
				  <div class="skills LabVIEW">60%</div>
				</div>
				</div>
			</div>
		</div>
 </section>
