<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <h2><center>Skills</center></h2>
                <h4 class="service heading"><center>Below are some of my skills, and I'm always looking to learn more.</center></h4>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/solidworks.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/matlab.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/siemens.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/labview.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>   
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/webots.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/3dexperience.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>  
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/python.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div> 
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/office365.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>    
            </div>
        </div>
    </aside>
