<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <h2><center>Skills</center></h2>
                <h4 class="service heading"><center>Below are some of my skills, and I'm always looking to learn more.</center></h4>
            </div>
            <div class="row">
			<p>HTML</p>
				<div class="container">
				  <div class="skills html">90%</div>
				</div>
				
				<p>CSS</p>
				<div class="container">
				  <div class="skills css">80%</div>
				</div>
				
				<p>JavaScript</p>
				<div class="container">
				  <div class="skills js">65%</div>
				</div>
				
				<p>PHP</p>
				<div class="container">
				  <div class="skills php">60%</div>
				</div>
						</div>
				</div>
    </aside>
