<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Journey</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="masthead d-flex" style="padding-bottom: 100px">
      <div class="container text-center my-auto">
        <div style="padding-bottom:32px">
          <img id="profile_pic" src="/img/portfolio/gta2.jpg" width="250" class="img-responsive img-circle" style="border:8px solid white" alt="">
          <!--<img id="profile_pic" src="/img/professional_profile_rotated_square4.jpg" width="250" class="img-responsive img-circle" style="border:8px solid white" alt="">-->
          </img>
        </div>
        <h1 class="mb-1">Makarand Karbhari</h1>
        <h3 class="mb-5">
            <em>Graduate Mechanical Engineer from The University of Texas at Arlington</em>
        </h3>
        <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
        <a class="btn btn-xl btn-light js-scroll-trigger" href="#services">Know More</a>
        <!--<a href="#clients" class="btn btn-circle js-scroll-trigger" style="color:white">
          <i class="fa fa-angle-double-down animated"></i>
        </a>-->
<!--
        <h2 class="mt-5">
            *** Website out of date as of June 2019 ***
        </h2>
-->
      </div>
      <div class="overlay"></div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

