
<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h4 class="service-heading">Hi there! I'm Makarand</h4>
                    <h3 class="section-subheading text-muted">I am a Mechanical Graduate student of class of 2020 and I like to design and build the things specially robots. I have an extensive background in Mechanical Design, Robot Kinematics and Dynamics, Computer Vision, Human-Robot Interaction and System Engineering. I am currently seeking employement in the Robotics space. Throughout my studies I have worked on various projects which are displayed below in the projects section.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Projects</h4>
                    <p class="text-muted">Go throught my project section to view the technical areas that I've worked on.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">My Journey</h4>
                    <p class="text-muted">Are you excited about my story, look no further and proceed to my journey section.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contact Me</h4>
                    <p class="text-muted">If you are looking forward to get in touch with me, go to contact me section.</p>
                </div>
            </div>
        </div>
    </section>
